@font-face {
    font-family: 'Mogra';
    src: url('./Mogra.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: peru;
    font-size: larger;
    font-family: 'Mogra';
    display: block;
}
.image {
    display: block;
    height: 300px;
    width: 300px;
    border: 1px solid peru;
}